<h1>#InteractiveElections</h1>

<div class="row">

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<h2>Video Title</h2>
<!-- 16:9 aspect ratio yotube video-->
<div class="embed-responsive embed-responsive-16by9">
 <iframe class="embed-responsive-item"  width="560" height="315" src="https://www.youtube.com/embed/cqOdVtFQ3AM" frameborder="0" allowfullscreen></iframe>
</div>
<!-- end youtube video -->

<!-- Start of Transcriptions -->
<hr>
<h2> Transcriptions</h2>


<!--  end of Transcriptions  -->


</div><!--  end col -->

<!-- Start of Summary/overview analyses -->
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
<h2>Gist</h2>


<!-- Example Topics -->
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Topic #1</h4>
    <p class="list-group-item-text"><xmlns:texthelpns rwthpgen="1">Donec id elit non mi porta gravida at eget metus.</xmlns:texthelpns><xmlns:texthelpns rwthpgen="1"> Maecenas sed diam eget risus varius blandit.</xmlns:texthelpns></p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Topic #2</h4>
    <p class="list-group-item-text"><xmlns:texthelpns rwthpgen="1">Donec id elit non mi porta gravida at eget metus.</xmlns:texthelpns><xmlns:texthelpns rwthpgen="1"> Maecenas sed diam eget risus varius blandit.</xmlns:texthelpns></p>
  </a>
</div>
<!-- Example Topics -->

</div><!--  end row -->