<h1>#InteractiveElections</h1>

<div class="row">

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
<h2>Video Title</h2>
<!-- 16:9 aspect ratio yotube video-->
<div class="embed-responsive embed-responsive-16by9">
 <iframe class="embed-responsive-item"  width="560" height="315" src="https://www.youtube.com/embed/cqOdVtFQ3AM" frameborder="0" allowfullscreen></iframe>
</div>
<!-- end youtube video -->

<!-- Start of Transcriptions -->
<hr>
<h2> Transcriptions</h2>


<!--  end of Transcriptions  -->


</div><!--  end col -->

<!-- Start of Summary/overview analyses -->
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
<h2>Gist</h2>


<div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="http://placehold.it/64x64" alt="64x64" data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading" id="media-heading">Topic: Topics 1#<a class="anchorjs-link" href="#media-heading"><span class="anchorjs-icon"></span></a></h4>
       <p><strong>Keywords: </strong> 
        <i>#hello, #world</i>.</p>
        <h5>Speaker: Speaker #1</h5>
       <p> Cras sit amet nibh libero, in gravida nulla. <strong> :,-(</strong></p>
 		<h5>Speaker: Speaker #2</h5> 
       <p> Cras purus odio, vestibulum in vulputate at <strong> :-)</strong> </p>
      </div>
    </div>

</div><!--  end row -->